<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>SignIn</servlet-name>
        <servlet-class>by.epam.java.training.web.servlet.FrontController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/sign_in</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>by.epam.java.training.web.servlet.FrontController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/sign_up</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>RU</servlet-name>
        <servlet-class>by.epam.java.training.web.servlet.FrontController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RU</servlet-name>
        <url-pattern>/ru</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EN</servlet-name>
        <servlet-class>by.epam.java.training.web.servlet.FrontController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EN</servlet-name>
        <url-pattern>/en</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Catalog</servlet-name>
        <servlet-class>by.epam.java.training.web.servlet.FrontController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Catalog</servlet-name>
        <url-pattern>/catalog</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>News</servlet-name>
        <servlet-class>by.epam.java.training.web.servlet.FrontController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>News</servlet-name>
        <url-pattern>/news</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NewsConstructor</servlet-name>
        <servlet-class>by.epam.java.training.web.servlet.FrontController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>NewsConstructor</servlet-name>
        <url-pattern>/newsConstructor</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>by.epam.java.training.web.servlet.FrontController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>by.epam.java.training.web.servlet.FrontController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Book</servlet-name>
        <servlet-class>by.epam.java.training.web.servlet.FrontController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Book</servlet-name>
        <url-pattern>/book</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Library</servlet-name>
        <servlet-class>by.epam.java.training.web.servlet.FrontController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Library</servlet-name>
        <url-pattern>/library</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>by.epam.java.training.web.servlet.FrontController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>

    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/jsp/Error.jsp</location>
    </error-page>

    <error-page>
        <error-code>404</error-code>
        <location>/jsp/Error.jsp</location>
    </error-page>

</web-app>
