<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <servlet>
        <servlet-name>SignIn</servlet-name>
        <servlet-class>by.epam.java.training.web.servlet.FrontController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/sign_in</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>by.epam.java.training.web.servlet.FrontController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/sign_up</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RU</servlet-name>
        <servlet-class>by.epam.java.training.web.servlet.FrontController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RU</servlet-name>
        <url-pattern>/ru</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EN</servlet-name>
        <servlet-class>by.epam.java.training.web.servlet.FrontController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EN</servlet-name>
        <url-pattern>/en</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>by.epam.java.training.web.servlet.FrontController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>

</web-app>
